<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.souljit2.selleverything.domain.comment.mapper.CommentMapper">
    <select id="findCommentsByPostId" resultType="com.souljit2.selleverything.domain.comment.model.CommentVO">
        SELECT m.id as memberIdFk,
               m.memberNickname,
               c.commentContents,
               c.createdAt,
               c.updatedAt
        FROM comment c
                 LEFT OUTER JOIN member m ON c.memberIdFk = m.id
        WHERE c.postIdFk = #{postId}
    </select>

    <insert id="insertComment"
            parameterType="com.souljit2.selleverything.domain.comment.model.CommentDTO">
        INSERT INTO comment (memberIdFk,
                             postIdFk,
                             commentContents)
        VALUES (#{memberIdFk},
                #{postIdFk},
                #{commentContents})
    </insert>
</mapper>