<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.souljit2.selleverything.domain.like.mapper.LikeMapper">
    <update id="insertLike">
        INSERT INTO `like` (memberIdFk,
                            postIdFk,
                            likeYn)
        VALUES (#{sessionMemberId},
                #{postId},
                true) ON DUPLICATE KEY
        UPDATE likeYn = true;
    </update>

    <update id="deleteLike">
        INSERT INTO `like` (memberIdFk,
                            postIdFk,
                            likeYn)
        VALUES (#{sessionMemberId},
                #{postId},
                false) ON DUPLICATE KEY
        UPDATE likeYn = false;
    </update>
</mapper>