<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.souljit2.selleverything.domain.post.mapper.PostMapper">
    <select id="getPostById" resultType="com.souljit2.selleverything.domain.post.model.PostDTO">
        SELECT id,
               postTitle,
               postContents,
               postItemPrice,
               postItemName,
               postCategory,
               createdAt,
               updatedAt,
               memberIdFk
        FROM post
        WHERE id = #{id}
    </select>

    <select id="getPosts" resultType="com.souljit2.selleverything.domain.post.model.PostDTO">
        SELECT id,
               postTitle,
               postContents,
               postItemPrice,
               postItemName,
               postCategory,
               createdAt,
               updatedAt,
               memberIdFk
        FROM post
        WHERE id = #{id}
           OR postTitle = #{postTitle}
           OR postItemName = #{postItemName}
           OR postCategory = #{postCategory}
           OR memberIdFk = #{memberIdFk}
    </select>

    <insert id="createPost" parameterType="com.souljit2.selleverything.domain.post.model.PostDTO">
        INSERT
        INTO post (postTitle,
                   postContents,
                   postItemPrice,
                   postItemName,
                   postCategory,
                   memberIdFk)
        VALUES (#{postTitle},
                #{postContents},
                #{postItemPrice},
                #{postItemName},
                #{postCategory},
                #{memberIdFk})
    </insert>

    <update id="updatePostById">
        UPDATE post
        SET postTitle     = #{newPost.postTitle},
            postContents  = #{newPost.postContents},
            postItemPrice = #{newPost.postItemPrice},
            postItemName  = #{newPost.postItemName},
            postCategory  = #{newPost.postCategory}
        WHERE id = #{id}
          AND memberIdFk = #{sessionMemberId}
    </update>

    <delete id="deletePostById">
        DELETE
        FROM post
        WHERE id = #{id}
          AND memberIdFk = #{sessionMemberId}
    </delete>

</mapper>